@import "../../sass/vars.scss";

.question_box {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  .avatar {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border-radius: 12px;
  }
}

.question_box__user_info {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 12px;
}

.question_box__question {
  font-size: 16px;
  font-weight: 500;
  color: $primary-text;
  line-height: 21px;
}

.question_box__text {
  margin-left: 16px;
}

.question_box__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.question_box__answer {
  position: relative;
  background-color: $light-bg;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-radius: 12px;
  color: $primary-text;
}
