@import "../../sass/vars.scss";

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 0px 0px 6px 6px;
  background-color: $border-line;
  margin-bottom: 8px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.textarea {
  padding: 4px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 12px;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 0px;
  background-color: $primary;
  color: $primary-oposite;
  cursor: pointer;
  border-radius: 6px;
}
