@import "../../sass/vars.scss";

.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

  @media (max-width: 768px) {
    flex-direction: column;

    .avatar {
      margin-right: 0;
      margin-bottom: 12px;
      width: 100px;
      height: 100px;
      flex-shrink: 0;
    }
  }
}

.question_box__user_info {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 12px;
}

.user_info__side {
  display: flex;
  align-items: center;
}

.user_info__adaptive {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.user_info__text {
  margin-left: 12px;
  @media (max-width: 768px) {
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}

.user_info__name {
  font-size: 20px;
  line-height: 30px;
  color: $primary-text;
  font-weight: 600;

  @media (max-width: 768px) {
    margin-bottom: 4px;
    font-size: 22px;
  }
}

.user_info__status {
  font-weight: 400;
  font-size: 16px;
  color: $auxiliary-text;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.user_info__counter {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: center;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.user_info__num {
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.user_info__string {
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
