@import "../../sass/vars.scss";

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 20px 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.userInfoBackground {
  width: 100%;
  background: rgb(255, 255, 255);
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  border-radius: 0px 0px 10% 10%;
  -webkit-box-shadow: 0px 0px 49px 29px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 49px 29px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 49px 29px rgba(34, 60, 80, 0.2);
}

.info {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 12px;
}

.side {
  display: flex;
  align-items: center;
}

.adaptive {
  margin-right: 12px;
  @media (max-width: 768px) {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.ext {
  margin-left: 12px;
  @media (max-width: 768px) {
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}

.name {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  font-weight: 600;
  margin-right: 4px;

  @media (max-width: 768px) {
    margin-bottom: 4px;
    font-size: 22px;
    text-align: center;
  }
}

.status {
  font-weight: 400;
  font-size: 16px;
  color: $primary;

  @media (max-width: 768px) {
    font-size: 14px;
    text-align: center;
  }
}

.avatarWrapper {
  margin-right: 16px;
  border: 3px solid $border-line;
  border-radius: 25%;
  height: 75px;
  width: 75px;

  @media (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 12px;
    height: 120px;
    width: 120px;
  }
}
