@import "../../sass/vars.scss";

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.info {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 12px;
}

.side {
  display: flex;
  align-items: center;
}

.adaptive {
  margin-right: 12px;
  @media (max-width: 768px) {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.ext {
  margin-left: 12px;
  @media (max-width: 768px) {
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}

.name {
  font-size: 20px;
  line-height: 30px;
  color: $primary-text;
  font-weight: 600;

  @media (max-width: 768px) {
    margin-bottom: 4px;
    font-size: 22px;
    text-align: center;
  }
}

.status {
  font-weight: 400;
  font-size: 16px;
  color: $auxiliary-text;

  @media (max-width: 768px) {
    font-size: 14px;
    text-align: center;
  }
}

.avatarWrapper {
  margin-right: 16px;
  border: 3px solid $border-line;
  border-radius: 25%;

  @media (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
