@import "./vars.scss";

@mixin placeholder {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(
      to right,
      transparent 0%,
      #e8e8e8 50%,
      transparent 100%
    );
    animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

/*  BUTTONS MIXINS  */
@mixin button {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
}

@mixin buttonPrimary {
  background-color: $btn-bg-primary;
  color: $btn-clr-primary;
}

@mixin buttonSecondary {
  background-color: $btn-bg-secondary;
  color: $btn-clr-secondary;
}

@mixin boxShadow {
  -webkit-box-shadow: 0px 0px 49px 29px rgba(5, 5, 5, 0.2);
  -moz-box-shadow: 0px 0px 49px 29px rgba(17, 17, 17, 0.2);
  box-shadow: 0px 0px 49px 29px rgba(3, 3, 3, 0.2);
}

@mixin bg-button {
  background: rgb(33, 37, 41);
  background: linear-gradient(
    180deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(26, 26, 27, 1) 100%
  );
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}
