$primary: #5DB075;
$primary-light: #F0F0F0;
$primary-oposite: #F4F9FC;
$primary-oposite-dark: #D6DFE8;
$primary-mid: #88C2CE;
$border-line: #e8e8e8;
$light-bg: #f6f6f6;

/*  TEXT  */
$primary-text: #000000;
$auxiliary-text: #666666;
$placeholder-text: #bdbdbd;