$primary: #212529;
$primary-second: #C7C9F6;
$primary-light: #F0F0F0;
$primary-oposite: #F4F9FC;
$primary-oposite-dark: #D6DFE8;
$primary-mid: #88C2CE;
$border-line: #e8e8e8;
$light-bg: #E9ECEF;
$secondary: #565CE3;

/*  TEXT  */
$primary-text: #212529;
$auxiliary-text: #ADB5BD;
$placeholder-text: #ADB5BD;


/*  SIZE  */
$header-height: 50px;