@import "../../sass/vars.scss";

.blockGreeting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.img {
  margin-bottom: 20px;
  animation: shake 5s ease infinite;

  svg {
    height: 280px;
    width: 280px;
  }
  @media (max-width: 768px) {
    svg {
      height: 200px;
      width: 200px;
    }
  }
}

.text {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
