@import "../../sass/vars.scss";

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $box-bg-primary;
  padding: 12px;
  border-radius: 12px;
}

.img {
  margin-right: 12px;
}

.text {
  font-size: 16px;
}
