@import "../../sass/vars.scss";

.answerBlock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-top: 8px;
}

.avatarWrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}

.answer {
  white-space: pre-line;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  overflow: hidden;
  padding-left: 4px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding-top: 6px;
  border-top: 1px solid rgb(92, 91, 91);
  width: 100%;
}

.likes {
  display: flex;
  align-items: center;
}

.likeCount {
  padding-left: 4px;
  font-size: 18px;
  font-weight: 500;

  color: #fff;
}
