@import "../../sass/vars.scss";

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  color: $primary-oposite;
  cursor: pointer;
  text-decoration: none;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.img {
  width: 35px;
  height: 35px;
  margin-right: 4px;

  @media (max-width: 768px) {
    width: 32px;
    height: 32px;
  }
}
