@import "../../sass/vars.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 30% 20% 30% 20%;
  border: 1px solid #21252950;

  @media (max-width: 768px) {
    width: 35px;
    height: 35px;
    border: 1px solid $border-line;
  }

  cursor: pointer;
}

.animation {
  &Active {
    animation: drawer 0.3s ease;
  }

  &Done {
    // empty
  }

  &Exit {
    animation: drawer 0.3s ease reverse;
    opacity: 0;
  }

  &ExitActive {
    // empty
  }
}

@keyframes drawer {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {

    opacity: 1;
    transform: translateY(0px);
  }
}
