@import "../../sass/vars.scss";

.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 12px;

  animation: showBlock 0.3s linear;

  @media (max-width: 768px) {
    padding: 4px 0;
    margin-bottom: 24px;
  }
}

.input {
    width: 100%;
    height: auto;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid $placeholder-text;
    background-color: #F8F9FA;

    ::placeholder {
      color: $placeholder-text;
    }
}

.button {
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: $primary-oposite;
    background-color: $primary;
    color: white;
    cursor: pointer;

    @media (max-width: 768px) {
      width: 100%;
    }
}

@keyframes showBlock {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}