@import "../../sass/vars.scss";

.box {
  position: relative;
  background-color: #2b2c2c;
  padding: 12px 12px 6px;
  border-radius: 12px;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    margin-bottom: 18px;
  }
}
