@import "../../sass/vars.scss";
@import "../../sass/mixins.scss";

.listItem {
  background-color: $box-bg-primary;
  border-radius: 12px;
  margin-bottom: 12px;
}

.btn {
  @include button;
  @include buttonSecondary;
  padding: 6px;
  font-size: 16spx;

  @media (max-width: 768px) {
    &:hover {
      outline: none;
      user-select: none;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    //background-color: $border-line;
  }
}
.active {
  border-radius: 6px 6px 0px 0px;
  background-color: $box-bg-primary;
}

.animation {
  &Active {
    animation: drawer 0.3s ease;
  }

  &Done {
    // empty
  }

  &Exit {
    animation: drawer 0.3s ease reverse;
    opacity: 0;
  }

  &ExitActive {
    // empty
  }
}

@keyframes drawer {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}