@import "../../sass/vars.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $border-line;
  }
}
.active {
  border-radius: 6px 6px 0px 0px;
  background-color: $border-line;
}

.animation {
  &Active {
    animation: drawer 0.3s ease;
  }

  &Done {
    // empty
  }

  &Exit {
    animation: drawer 0.3s ease reverse;
    opacity: 0;
  }

  &ExitActive {
    // empty
  }
}

@keyframes drawer {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}