@import "../../sass/vars.scss";

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form__button {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  background-color: $primary;
  color: $primary-oposite;

  @media (max-width: 768px) {
    width: 100%;
  }
}