@import "../../sass/vars.scss";

.header {
  height: 50px;
  background-color: $primary;
  border-bottom: 1px solid #979797;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

.account_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  overflow: hidden;

  cursor: pointer;

  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 8px;
  }
}