@import "../../sass/vars.scss";

.header {
  height: 50px;
  background-color: $primary;
  border-bottom: 1px solid #979797;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}