@import "../../sass/vars.scss";

.header {
  height: $header-height;
  background-color: $primary;
  border-bottom: 1px solid $border-line;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}