@import "../../sass/vars.scss";

.sign_up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign_up__link {
  font-size: 14px;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  color: $primary-oposite;
  margin-right: 30px;
  transition-duration: 0.3s;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $primary-oposite;
    background-color: transparent;
  }

  &:active {
    color: $primary-mid;
    border-bottom: 1px solid $primary-mid;
  }
}

.sign_up__btn {
  padding: 8px 20px;
  font-size: 16px;
  background-color: $primary-second;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  color: $primary-text;
  transition-duration: 0.3s;

  &:hover {
    background-color: lighten($primary-oposite, 50);
  }

  &:active {
    box-shadow: 0px 0px 30px -2px rgba(34, 60, 80, 0.2) inset;
    background-color: $primary-oposite;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.sign_up__img {
  display: none;
  width: 32px;
  height: 32px;
  border-radius: 6px;

  @media (max-width: 768px) {
    display: inline-block;
  }
}
