@import "../../sass/vars.scss";

.panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px 16px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0 0 20px;
    margin-bottom: 12px;
  }
}

.btn {
  padding: 12px 36px;
  background-color: $primary;
  color: $primary-oposite;
  border-radius: 4px 12px 24px 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  width: 50%;  background: rgb(33, 37, 41);
  background: linear-gradient(
    180deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(26, 26, 27, 1) 100%
  );

  @media (max-width: 768px) {
    padding: 12px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px;
    border-radius: 18px 18px 24px 24px;
  }
}

.btnLong {
  padding: 12px 64px;
  border-radius: 12px 4px 4px 24px;
  margin-right: 2px;

  @media (max-width: 768px) {
    margin-right: 0px;
    padding: 12px;
    border-radius: 18px 18px 24px 24px;
    width: 100%;
  }
}

.hideDesktop {
  display: none;
}

.hideMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.showMobile {
  @media (max-width: 768px) {
    display: block;
  }
}

.animation {
  &Active {
    animation: drawer 0.3s ease;
  }

  &Done {
    // empty
  }

  &Exit {
    animation: drawer 0.3s ease reverse;
    opacity: 0;
  }

  &ExitActive {
    // empty
  }
}

@keyframes drawer {
  0% {
    opacity: 0;
    // transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    // transform: translateY(0px);
  }
}
