@import "../../sass/vars.scss";

.panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 26px;

  @media (max-width: 768px) {
    margin-bottom: 12px;
  }
}

.btn {
  padding: 12px 36px;
  background-color: $primary;
  color: $primary-oposite;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;

  @media (max-width: 768px) {
    padding: 12px;
    width: 100%;
    margin-right: 0;
  }
}

.btnLong {
  padding: 12px 64px;
  margin-right: 30px;

  @media (max-width: 768px) {
    margin-right: 0px;
    padding: 12px;
    width: 100%;
  }
}

.hideDesktop {
  display: none;
}

.hideMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.showMobile {
  @media (max-width: 768px) {
    display: block;
  }
}
