@import "../../sass/vars.scss";

.user_btn_panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 26px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.user_btn_panel__btn {
  padding: 12px 36px;
  background-color: $primary;
  color: $primary-oposite;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;

  @media (max-width: 768px) {
    width: 100%;
    
    &:not(:last-child) {
    margin-bottom: 10px;
    }
  }
}

.user_btn_panel__btn_long {
  padding: 12px 64px;
  margin-right: 30px;

  @media (max-width: 768px) {
    margin-right: 0px;
  }
}
