@import "../../sass/vars.scss";
@import "../../sass/mixins.scss";

.panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 28px;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.btn {
  border-radius: 12px;
  padding: 12px 36px;
  cursor: pointer;
  width: 100%;
  background-color: $btn-bg-primary;
  color: $btn-clr-primary;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;

  @media (max-width: 768px) {
    padding: 12px;
    width: 100%;
    margin-bottom: 8px;
    outline: none;
  }

  &:hover {
    background-color: $btn-bg-hover;
    color: $btn-clr-hover;
  }
}


.btnSecond {
  padding: 12px 64px;
  margin-right: 2px;

  background-color: $btn-bg-secondary;
  color: $btn-clr-secondary;
  border: 1px solid $btn-br-secondary;

  @media (max-width: 768px) {
    margin-right: 0px;
    padding: 12px;
    width: 100%;
  }
}

.hideDesktop {
  display: none;
}

.hideMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.showMobile {
  @media (max-width: 768px) {
    display: block;
  }
}

.animation {
  &Active {
    animation: drawer 0.3s ease;
  }

  &Exit {
    animation: drawer 0.3s ease reverse;
    opacity: 0;
  }
}

@keyframes drawer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
