@import "../../sass/vars.scss";

.avatar {
    width: 68px;
    height: 68px;
    overflow: hidden;
    border-radius: 20%;
    background-color: $primary;
}

.img {
    width: 100%;
    height: 100%;
}
