.unasweredQuestion {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
