@import "./sass/vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F8F9FA;
}

button {
  border: none;
  transition-duration: 0.3s;
  border-radius: 16px;

  &:hover {
    background-color: lighten($primary, 20);
  }

  &:active {
    box-shadow: 0px 0px 30px -2px rgba(34, 60, 80, 0.2) inset;
    background-color: $primary;
  }
}

.container {
  width: 754px;
  height: 100%;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 450px;
  }

  @media (max-width: 450px) {
    width: 320px;
  }

  @media (max-width: 320px) {
    width: 280px;
  }
}

/*  MAIN PAGE  */
.main__title {
  padding: 20px 0px;
}

/*  SIGN PAGE  */
.sign {
  padding: 20px 0;
}

.sign__toggle {
  background-color: $primary-light;
  margin-bottom: 16px;
  width: 50%;
  border-radius: 8px;
  border: 1px solid $border-line;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.sign__button {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  background-color: transparent;
  cursor: pointer;
  color: $auxiliary-text;
  width: 50%;

  &:hover {
    border-radius: 6px;
  }

  @media (max-width: 360px) {
    padding: 12px 18px;
  }
}

.sign__button_active {
  background-color: $primary;
  color: $primary-oposite;
  border-radius: 8px;
}

.section__title {
  padding: 24px 0;
}

.hide_desc {
  display: none;
}

.hide_mobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.show_mobile {
  @media (max-width: 768px) {
    display: block;
  }
}

/* USER SETTING PAGE */
.form_setting {
  padding: 20px 0px;
}
