@import "./sass/vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f4f9fc;
}

button {
  border: none;
  transition-duration: 0.3s;

  &:hover {
    background-color: lighten($primary, 20);
  }

  &:active {
    box-shadow: 0px 0px 30px -2px rgba(34, 60, 80, 0.2) inset;
    background-color: $primary;
  }

  &:focus {
    outline: 4px solid $primary-mid;
    transition-duration: 0s;
  }
}

.container {
  width: 754px;
  height: 100%;
  margin: 0 auto;
}

/*  MAIN PAGE  */
.main__title {
  padding: 20px 0px;
}

/*  SIGN PAGE  */
.sign {
  padding: 20px 0;
}

.sign__toggle {
  background-color: $primary-light;
  margin-bottom: 16px;
  width: 50%;
  border-radius: 8px;
  border: 1px solid $border-line;
}

.sign__button {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  background-color: transparent;
  cursor: pointer;
  color: $auxiliary-text;
  width: 50%;

  &:hover {
    border-radius: 6px;
  }
}

.sign__button_active {
  background-color: $primary;
  color: $primary-oposite;
  border-radius: 8px;
}

