@import "../../sass/vars.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 0;
  background: none;

  outline: none;

  &:hover {
    border-radius: 0;
  background: none;

    // svg {
    //   path {
    //     fill: #ff6666;
    //   }
    // }
  }

  // svg {
  //   path {
  //     transition: fill 0.3s ease;
  //     fill: #fff;
  //   }
  // }
}
.active {
  border-radius: 0;
  background: none;

  // svg {
  //   path {
  //     fill: #ff6666;
  //   }
  // }
}
