@import "../../sass/vars.scss";

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.img {
  height: 100px;
  width: 100px;
  margin-bottom: 12px;

  @media (max-width: 768px) {
    height: 80px;
    width: 80px;
  }
}

.text {
  text-align: center;
  padding: 14px 0;
  font-size: 22px;
  font-weight: 600;
  color: #fff;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}
